* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    align-items: flex-start;

    padding: 20px;
    height: 500px;

    background-color: coral;
}

.flex-element {
    display: block;
    width: 500px;
    padding: 20px;

    background-color: lightblue;
    border: 1px solid red;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}