* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding: 20px 0;
    width: 1140px;

    background-color: lightblue;
}

.card {
    padding: 20px;
    width: calc(25% - 40px);

    background-color: coral;
    border: 1px solid black;
}