* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    align-items: flex-start;

    padding: 20px;
    height: 500px;

    background-color: coral;
}

.flex-element {
    display: block;

    padding: 20px;

    background-color: lightblue;
    border: 1px solid red;
}

.el-1 {
    margin-right: auto;
}

.el-2 {}

.el-3 {}
