* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.element {
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;

    background-color: crimson;
    border: 5px solid black;

    color: white;
}

.border-box {
    box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
}